.modal-wrapper {
    max-width: 500px;
    .h1, .h2, .h3, .h4, .h5, .h6 { // override tachyon's style
        height: fit-content;
    }
    .h4 {
        font-size: 1.3rem
    }
    .modal-body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
}